@CHARSET "UTF-8";
/* General */
body {
	width: 961px;
	background-color: white;
	margin: auto;
}

header {
	background-image: url('partitura2.png');
	float: center;
	width: 100%;
	height: 90px;;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
	padding-top: 3em;
}

header .titulo {
	color: #DBA901;
	text-shadow: 4px 3px 2px #585858;
	font-family: Verdana;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

header div#usuario {
	background-color: #DBA901;
	float: right;
	font-family: Verdana;
	font-size: 10px;
	padding: 2px;
	margin-top: -40px;
	border-radius: 10px 0px 0px 10px;
}

/* Main Navigation */
nav {
	background-color: white;
	border: 1px solid black;
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

section#cuerpo {
	background-color:yellow;
	float: left;
	width: 100%;
}

footer {
	background-color:green;
	float: left;
	width: 100%;
	text-align: left;
}

.operacionOk {
	background-color: lightgreen; 
}
.operacionFallida {
		background-color: red;
}

/* Menús */
nav ul#navigation {
	width:100%;
	margin-top: 2px;
	margin-left: -33px;
	position: relative;
	float: left;
	/*border-left: 1px solid black;*/
	/*border-right: 1px solid #c4dbe7;*/
}

nav ul#navigation li {
	width: 49%;
	display: inline;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	border-top: 1px solid silver;
	border-bottom: 2px solid silver;
}

nav ul#navigation li a {
	background-color: #DBA901;
	padding: 8px 25px;
	color: #616161;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	display: inline-block;
	border-right: 1px solid #fff;
	border-left: 1px solid #C2C2C2;
	border-top: 1px solid #fff;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}

nav ul#navigation li a:hover {
	background: #f8f8f8;
	color: #282828;
}

nav ul#navigation li a.first {
	border-left: 0 none;
}

nav ul#navigation li a.last {
	border-right: 0 none;
}

nav ul#navigation li:hover>a {
	background: #fff;
}

/* Drop-Down Navigation */
nav ul#navigation li:hover>ul {
	/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */
	visibility: visible;
	opacity: 1;
}

nav ul#navigation ul, nav ul#navigation ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 99999;
	width: 180px;
	background: #f8f8f8;
	box-shadow: 1px 1px 3px #ccc;
	/* css3 transitions for smooth hover effect */
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
	-o-transition: opacity 0.2s linear, visibility 0.2s linear;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}

nav ul#navigation ul {
	top: 43px;
	left: 1px;
}

nav ul#navigation ul li ul {
	top: 0;
	left: 181px; /* strong related to width:180px; from above */
}

nav ul#navigation ul li {
	clear: both;
	width: 100%;
	border: 0 none;
	border-bottom: 1px solid #c9c9c9;
}

nav ul#navigation ul li a {
	background: none;
	padding: 7px 15px;
	color: #616161;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	display: inline-block;
	border: 0 none;
	float: left;
	clear: both;
	width: 150px;
}

/* Formularios */
form {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #E4E4E4;
}

form h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom: 1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;;
	color: #888;
}

form h1>span {
	display: block;
	font-size: 11px;
}

form label {
	display: block;
	margin: 0px;
}

form label>span {
	float: left;
	width: 20%;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
	color: #888;
}

form input[type="text"], form input[type="email"], form textarea, form select
	{
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height: 15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

form textarea {
	padding: 5px 3px 3px 5px;
}

form select {
	background: #FFF url('down-arrow.png') no-repeat right;
	background: #FFF url('down-arrow.png') no-repeat right);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
	height: 35px;
	line-height: 25px;
}

form textarea {
	height: 100px;
}

form .button {
	background: #E27575;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	box-shadow: 1px 1px 5px #B6B6B6;
	border-radius: 3px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
}

form .button:hover {
	background: #CF7A7A
}